snippet false "false to true" w
true
endsnippet

snippet true "true to false " w
false
endsnippet

snippet l "console log" b
console.log($1);$0
endsnippet

snippet . "this" i
this.
endsnippet

snippet v "var" b
var ${1:name} = ${2:value};$0
endsnippet


# React jsx #

snippet .p "props" i
this.props.
endsnippet

snippet .s "state" i
this.state.
endsnippet

snippet t "tag" b
<${1:div}>$2</$1>$0
endsnippet
